adblock==0.6.0
attrs==25.3.0
Automat==24.8.1
Brotli==1.1.0
certifi==2025.1.31
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==46.0.3
dbus-python==1.3.2
deluge==2.2.0
gi-docgen==2025.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
Jinja2==3.1.6
Mako==1.3.2
Markdown==3.6
MarkupSafe==3.0.3
meson==1.9.1
mutagen==1.46.0
nftables==0.1
packaging==25.0
pillow==11.3.0
ply==3.11
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pycparser==2.21
Pygments==2.19.2
PyGObject==3.54.2
pyOpenSSL==25.3.0
pyparsing==3.2.5
PyQt6==6.10.0
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.10.2
pyxdg==0.28
PyYAML==6.0.2
qutebrowser==3.5.1
rencode==1.0.8
requests==2.32.4
service-identity==24.2.0
setproctitle==1.3.3
setuptools==80.9.0
sh==1.14.3
six==1.17.0
smartypants==2.0.2
toml==0.10.2
Twisted==24.11.0
typing_extensions==4.12.2
typogrify==2.1.0
urllib3==1.26.12
websockets==15.0.1
yt-dlp==2025.10.22
zope.interface==7.2
